.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

.container p {
  display: flex;
  justify-content: space-between;
}

body{
  background-color: beige;
}
